﻿<%@ Page Title="About" Language="VB" MasterPageFile="~/Site2.Master" AutoEventWireup="true" CodeBehind="About.aspx.vb" Inherits="Ergonomic.About" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">   
  </asp:Content>
<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

</asp:Content>