﻿<%@ Page Title="Home Page" Language="VB" AutoEventWireup="true" CodeBehind="Default.aspx.vb" Inherits="Ergonomic._Default" %>
 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Easy Ergonomic Scanner</title>
      <style type="text/css">
    body {
        margin:0;
        background-color:#47b1b1; 
    }
    </style>
</head>

<body>
    <form id="form1" class="user" runat="server">
        <div class="container-login">          
            <div class="row">
                <section class="col-lg-12">
                    <div class="row text-center">
                        <br /><br /><br />
                        <div style="text-align:center">
                        <img src="images/under.jpg"  />    </div>                   
                    </div>
                </section>
   </div>
        </div>
    </form>
</body>
</html>
