﻿<%@ Page Title="Private Policy" Language="VB" AutoEventWireup="true" CodeBehind="LoginPolicy.aspx.vb" Inherits="Ergonomic.LoginPolicy" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> Private Policy</title>
  <link   href="https://fonts.googleapis.com/css?family=Sarabun:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"  rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css">   

  <!-- Google Font -->
  <link rel="stylesheet"   href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
           
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min-login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    function openModals(sender, title, message) {
      $("#spnTitle").text(title);
      $("#spnMsg").text(message);
      $('#modalPopUp').modal('show');
      $('#btnConfirm').attr('onclick', "$('#modalPopUp').modal('hide');setTimeout(function(){" + $(sender).prop('href') + "}, 50);");
      return false;
    }
  </script>
  <!-- End modal -->
</head>

<body class="bg-gradient-primary hold-transition login-page">
  <form id="form1" class="user" runat="server">
    <div class="containner">
      <div class="policy-box ">
        <div class="login-box-body">
          <div class="login-logo">
            <a href="https://www.npc-se.co.th" target="_blank"> <img src="images/logo-npc.png" width="300" /></a>
            <p><b>Privacy Policy</b></p>
              การให้ความยินยอมในการเก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคล
          </div>        
          <div id="onetrust-pc-sdk">
            <div id="ot-pc-content">

                <div id="ot-pc-desc"> เพื่อปฏิบัติตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 บริษัท เอ็นพีซี เซฟตี้ แอนด์ เอ็นไวรอนเมนทอล เซอร์วิส จำกัด (“บริษัทฯ”) ใคร่ขอความยินยอมจากท่านในการเก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลของท่าน สำหรับวัตถุประสงค์ดังต่อไปนี้</div>

                <h2 id="ot-pc-title">1.	วัตถุประสงค์ทั่วไป</h2>
<h2 id="ot-pc-title">1.1	 วัตถุประสงค์ทั่วไป ข้อ 1</h2>
เก็บและใช้ข้อมูลส่วนบุคคลของท่าน เพื่อวัตถุประสงค์ในการประเมินและปรับปรุง กระบวนการ ระบบและเนื้อหาการสื่อสารประชาสัมพันธ์ รวมถึงการเข้าร่วมกิจกรรม ผ่านช่องทางสื่อสารภายในองค์กร เช่น ระบบ E-mail บริษัทฯ, ระบบ Intranet, Digital Signage เป็นต้น และช่องทางสื่อสารภายนอกองค์กร เช่น เว็บไซต์บริษัทฯ, Facebook-NPC S&E, LINE Official NPC S&E, LinkedIn NPC S&E, ระบบ E-mail ประชาสัมพันธ์ภายนอก เป็นต้น ให้มีประสิทธิภาพ ถูกต้อง เหมาะสม หรือเป็นปัจจุบัน  และเปิดเผยต่อผู้เกี่ยวข้องสำหรับการติดต่อประสานงาน และดำเนินการให้เป็นไปตามวัตถุประสงค์ข้างต้น
ข้าพเจ้ามีความประสงค์ดังนี้ 			¨ ยินยอม		      ¨ ไม่ยินยอม*
*หากท่านไม่ให้ความยินยอมในการเก็บ ใช้ และเปิดเผยข้อมูลดังกล่าวข้างต้น ท่านอาจไม่ได้รับข้อมูลข่าวสารการประชาสัมพันธ์ที่เพียงพอและเหมาะสม

<h2 id="ot-pc-title">1.2	วัตถุประสงค์ทั่วไป ข้อ 2</h2>
 เก็บและใช้ข้อมูลส่วนบุคคลของท่าน ที่เกี่ยวข้องกับกิจกรรมของบริษัทฯ เช่น ชื่อ นามสกุล ตำแหน่ง ภาพนิ่ง ภาพเคลื่อนไหว ที่ระบุตัวตนได้ เป็นต้น และเปิดเผยต่อสื่อ เช่น สื่อมวลชน สื่อออนไลน์ สื่อสาธารณะ สื่อภายในองค์กร เป็นต้น เพื่อวัตถุประสงค์ในการประชาสัมพันธ์กิจกรรมต่างๆ ของบริษัทฯ และบริษัทในกลุ่ม 
ข้าพเจ้ามีความประสงค์ดังนี้ 			¨ ยินยอม		      ¨ ไม่ยินยอม*
*หากท่านไม่ให้ความยินยอมในการเก็บ ใช้ และเปิดเผยข้อมูลดังกล่าวข้างต้น ท่านอาจไม่ได้รับข้อมูลข่าวสารการประชาสัมพันธ์ที่เพียงพอและเหมาะสม

    <h2 id="ot-pc-title">
2.	วัตถุประสงค์เกี่ยวกับข้อมูลส่วนบุคคลที่มีความอ่อนไหว</h2> <h2 id="ot-pc-title">
2.1	วัตถุประสงค์เกี่ยวกับข้อมูลส่วนบุคคลที่มีความอ่อนไหว ข้อ 1</h2>
 เก็บ ใช้ และเปิดเผย ข้อมูลประเมินพฤติกรรม ทัศนคติและไหวพริบของท่าน เพื่อประกอบการพิจารณาปรับระดับ/แต่งตั้ง
ข้าพเจ้ามีความประสงค์ดังนี้ 			
¨ ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า		
¨ ไม่ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า*
*หากท่านไม่ให้ความยินยอมในการเก็บ ใช้ และเปิดเผยข้อมูลดังกล่าวข้างต้น ท่านอาจไม่ได้รับความสะดวกในการพิจารณา
        <h2 id="ot-pc-title">
2.2	วัตถุประสงค์เกี่ยวกับข้อมูลส่วนบุคคลที่มีความอ่อนไหว ข้อ 2</h2>
 เก็บ ใช้ และเปิดเผย ข้อมูลความพิการ(หากมี) ข้อมูลสุขภาพ ประวัติการรักษา รวมถึงใบรับรองแพทย์และข้อมูลเกี่ยวกับประกัน ของท่านให้แก่ [บริษัทนายหน้าประกันภัยและบริษัทประกัน เช่น บริษัท เมืองไทยประกันชีวิต จำกัด (มหาชน) บริษัท เอ็ทน่า ประกันสุขภาพ (ประเทศไทย) จำกัด (มหาชน) บริษัท ล็อคตั้น วัฒนา อินชัวรันส์ โบรคเกอร์ส (ประเทศไทย) จำกัด บริษัท เจนเนอราลี่ ประกันภัย ไทยแลนด์ จำกัด (มหาชน)  เป็นต้น] เพื่อการดำเนินการใด ๆ ที่เกี่ยวข้องกับการทำประกันสุขภาพ ประกันชีวิต ประกันอุบัติเหตุ และ/หรือ ทุพพลภาพ อันเป็นสวัสดิการที่ท่านได้รับตามข้อกำหนดของบริษัทฯ รวมถึง การสมัครกรมธรรม์ การเบิกค่ารักษาพยาบาลตามสิทธิ การเคลมหรือการเรียกร้องค่าสินไหมทดแทนอื่น ๆ การเรียกเก็บส่วนเกินสิทธิค่ารักษาพยาบาลคืนจากพนักงาน การต่ออายุและการยกเลิกกรมธรรม์ เป็นต้น
ข้าพเจ้ามีความประสงค์ดังนี้ 			
¨ ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า		
¨ ไม่ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า*
*หากท่านไม่ให้ความยินยอมในการเก็บ ใช้ และเปิดเผยข้อมูลดังกล่าวข้างต้น ท่านอาจไม่ได้รับความสะดวกในการรับสวัสดิการเกี่ยวกับการรักษาพยาบาลตามสิทธิที่พีงมี
            <h2 id="ot-pc-title">
2.3	วัตถุประสงค์เกี่ยวกับข้อมูลส่วนบุคคลที่มีความอ่อนไหว ข้อ 3</h2>
 เก็บ ใช้ และเปิดเผย ข้อมูลสุขภาพ ข้อมูลรังสี และข้อมูลความพิการ(หากมี) ของท่าน เพื่อจัดตรวจสุขภาพประจำปี รวมถึงการรับผลตรวจสุขภาพดังกล่าวจากแพทย์และโรงพยาบาลที่บริษัทได้ทำความตกลงด้วย เช่น โรงพยาบาลกรุงเทพระยอง โรงพยาบาลมงกุฎระยอง โรงพยาบาลอินเตอร์เมด เพื่อการเฝ้าระวังด้านสุขภาพและบันทึกข้อมูลในระบบ E-Health book นอกเหนือจากกรณีที่มีกฎหมายที่เกี่ยวข้องกำหนดไว้
ข้าพเจ้ามีความประสงค์ดังนี้ 			
¨ ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า		
¨ ไม่ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า*
*หากท่านไม่ให้ความยินยอมในการเก็บ ใช้ และเปิดเผยข้อมูลดังกล่าวข้างต้น ท่านอาจไม่ได้รับการแจ้งเตือนข้อมูลสุขภาพเพื่อเป็นประโยชน์ต่อตัวท่านเอง 
<h2 id="ot-pc-title">
2.4	วัตถุประสงค์เกี่ยวกับข้อมูลส่วนบุคคลที่มีความอ่อนไหว ข้อ 4</h2>
[GAF-IT] เก็บ ใช้ และเปิดเผย ข้อมูลความพิการ(หากมี) ข้อมูลสุขภาพ หมู่เลือด ข้อมูลจดจำใบหน้าของท่าน ให้แก่ ผู้ให้บริการเทคโนโลยีสารสนเทศ เช่นบริษัท พีทีที ดิจิตอล โซลูชั่น จำกัด เพื่อวัตถุประสงค์ในการดำเนินธุรกิจ การบริหารงานภายในของบริษัทฯ และการบริหารจัดการระบบซอฟต์แวร์ (Software) 
ข้าพเจ้ามีความประสงค์ดังนี้ 			
¨ ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า		
¨ ไม่ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า*
*หากท่านไม่ให้ความยินยอมในการเก็บ ใช้ และเปิดเผยข้อมูลดังกล่าวข้างต้น ท่านอาจไม่ได้รับความสะดวกในการปฏิบัติงาน
    <h2 id="ot-pc-title">
2.5	วัตถุประสงค์เกี่ยวกับข้อมูลส่วนบุคคลที่มีความอ่อนไหว ข้อ 5</h2>
[GAF-IT] เก็บและใช้ ข้อมูลเกี่ยวกับสุขภาพของท่าน ข้อมูลความพิการ(หากมี) ข้อมูลจดจำใบหน้า ของท่าน เพื่อการรักษาความปลอดภัยภายในบริเวณอาคาร และสถานที่ของบริษัทฯ รวมถึงการทำบัตรอนุญาตให้แก่พนักงาน (Work Permit) เพื่อเข้าปฏิบัติงานในพื้นที่บริษัท และ/หรือ พื้นที่อื่น ๆ ของบริษัทฯ และเพื่อยืนยันเวลาการเข้าออกแต่ละพื้นที่ของพนักงาน
ข้าพเจ้ามีความประสงค์ดังนี้
¨ ยินยอมให้เก็บและใช้ข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า		
¨ ไม่ยินยอมให้เก็บและใช้ข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า*
*หากท่านไม่ให้ความยินยอมในการเก็บ ใช้ และเปิดเผยข้อมูลดังกล่าวข้างต้น ท่านอาจไม่ได้รับความสะดวกและความปลอดภัยในการเข้าพื้นที่
        <h2 id="ot-pc-title">
2.6	วัตถุประสงค์เกี่ยวกับข้อมูลส่วนบุคคลที่มีความอ่อนไหว ข้อ 6</h2>
[GAF-IT] เก็บ ใช้และเปิดเผย ข้อมูลจดจำใบหน้า ให้แก่ผู้ให้บริการทางด้านเทคโนโลยี เช่น HATARI WIRELESS COMPANY LIMITED และ EXZY COMPANY LIMITED (หากมีการเปลี่ยนแปลง บริษัทฯ จะประกาศแจ้งให้ท่านเจ้าของข้อมูลส่วนบุคคลทราบ) รวมถึง ผู้ให้เช่าอาคารและสถานที่ เช่น บจก. เอนเนอร์ยี่ คอมเพล็กซ์ โดยมีวัตถุประสงค์เพื่อการจัดทำระบบรักษาความปลอดภัย และการตรวจสอบการเข้า - ออก และการทำงานในพื้นที่ของพนักงานในบริเวณโรงงาน อาคารสถานที่ และ/หรือพื้นที่อื่นๆ ของบริษัทฯ ตลอดจนเพื่ออำนวยความสะดวกในการเข้าปฏิบัติงานในพื้นที่ของพนักงาน โดยบริษัทฯได้มีการกำหนดมาตรการปกป้องข้อมูลของท่านอย่างเหมาะสมและปลอดภัยแล้ว
ข้าพเจ้ามีความประสงค์ดังนี้
¨ ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า		
¨ ไม่ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า*
*หากท่านไม่ให้ความยินยอมในการเก็บ ใช้ และเปิดเผยข้อมูลดังกล่าวข้างต้น ท่านอาจไม่ได้รับความสะดวกในการเข้าพื้นที่
            <h2 id="ot-pc-title">
2.7	วัตถุประสงค์เกี่ยวกับข้อมูลส่วนบุคคลที่มีความอ่อนไหว ข้อ 7</h2>
 เก็บ ใช้ และเปิดเผย ข้อมูลพันธุกรรม (หมู่เลือด) ของท่าน บนบัตรพนักงาน เพื่อใช้แจ้งต่อสถานพยาบาลในกรณีมีอุบัติเหตุฉุกเฉิน 
ข้าพเจ้ามีความประสงค์ดังนี้
¨ ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า		
¨ ไม่ยินยอมให้เก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลที่มีความอ่อนไหวของข้าพเจ้า*
*หากท่านไม่ให้ความยินยอมในการเก็บ ใช้ และเปิดเผยข้อมูลดังกล่าวข้างต้น ท่านอาจไม่ได้รับการดูแลรักษาพยาบาลได้ทันท่วงทีเมื่อมีเหตุฉุกเฉิน
                <br />
<h2 id="ot-pc-title"> รายละเอียดเพิ่มเติม</h2>
                - การใช้คุกกี้
                - คำประกาศคุ้มครองข้อมูลส่วนบุคคลของท่าน (Privacy Notice) 
                <br /><br />
<b>ข้อสงวนสิทธิ :</b> บริษัทฯ ขอแจ้งให้ท่านทราบว่า ในกรณีที่บริษัทฯต้องขอเอกสารระบุตัวตน เช่น บัตรประชาชน หนังสือเดินทาง หรือเอกสารอื่นๆ ซึ่งอาจมีข้อมูลส่วนบุคคลที่มีความอ่อนไหว (sensitive data) ได้แก่ ศาสนา หรือ หมู่เลือด บริษัทฯ ไม่มีความประสงค์จะเก็บข้อมูลดังกล่าว จึงขอให้ท่านเจ้าของข้อมูลดำเนินการขีดฆ่า หรือ ปิดทึบ ข้อมูลส่วนนั้น ทั้งนี้ หากท่านมิได้ดำเนินการตามที่แจ้ง บริษัทขอสงวนสิทธิในการถือเสมือนว่าบริษัทไม่ได้มีการจัดเก็บข้อมูลดังกล่าวไว้
                <br />
อนึ่ง บริษัทฯ ขอแจ้งให้ท่านทราบเกี่ยวกับการเก็บรวบรวมข้อมูลส่วนบุคคลของท่าน (Privacy Notice) ปรากฏตามเอกสารแนบ
ทั้งนี้ หากท่านประสงค์จะเพิกถอนความยินยอมที่ท่านให้ไว้นี้ ท่านสามารถแจ้งบริษัทฯ ได้ที่ เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล : NPC-DPO@npc-se.co.th
          <br /><br />     
              <h2 id="ot-pc-title">ศูนย์การตั้งค่าความเป็นส่วนตัว</h2>
              <div id="ot-pc-desc">เมื่อคุณเข้าชมเว็บไซต์ใดก็ตาม ไซต์นั้นอาจจัดเก็บหรือดึงข้อมูลจากเบราว์เซอร์ของคุณ
                ส่วนใหญ่แล้วอยู่ในรูปแบบของคุกกี้ ข้อมูลนี้อาจเกี่ยวกับคุณ การตั้งค่าของคุณ อุปกรณ์ของคุณ
                หรือเพื่อช่วยให้ไซต์ทำงานอย่างที่คุณต้องการ ซึ่งมักเป็นข้อมูลที่ไม่สามารถระบุตัวตนของคุณได้โดยตรง
                แต่ช่วยให้คุณใช้งานเว็บตามความต้องการส่วนบุคคลได้มากยิ่งขึ้น
                คุณสามารถปฏิเสธไม่ให้คุกกี้บางประเภททำงานได้ คลิกที่หัวข้อประเภทอื่นๆ
                เพื่อดูข้อมูลเพิ่มเติมและเปลี่ยนการตั้งค่าเริ่มต้นของเรา อย่างไรก็ตาม
                คุณควรทราบว่าการบล็อกคุกกี้บางประเภทอาจส่งผลต่อการใช้งานไซต์และบริการที่เรามีให้ใช้งาน
                <br><a href="https://npc-se.co.th/CookielistTH/" class="privacy-notice-link" rel="noopener"
                  target="_blank" aria-label="ข้อมูลเพิ่มเติมเกี่ยวกับความเป็นส่วนตัวของคุณ, เปิดในหน้าต่างใหม่"
                  tabindex="0">ข้อมูลเพิ่มเติม</a>
              </div>
              <section class="ot-sdk-row ot-cat-grp">
                <h3 id="ot-category-title">จัดการการกำหนดลักษณะความยินยอม</h3>
                <div class="ot-cat-item ot-always-active-group" data-optanongroupid="C0001"> 
                  
                  <p class="ot-category-desc" id="ot-desc-id-C0001">คุกกี้ประเภทนี้
                    มีความจำเป็นอย่างยิ่งต่อการทำงานของเว็บไซต์ ได้แก่
                    คุกกี้ที่ทำให้เว็บไซต์สามารถทำหน้าที่ขั้นพื้นฐาน เช่น การเลื่อนสำรวจหน้าเว็บไซต์ หรือ
                    ทำให้ผู้เข้าชม/ผู้ใช้เว็บไซต์สามารถเข้าสู่ระบบและสามารถเข้าถึงส่วนของเว็บไซต์ที่ถูกสงวนไว้ให้ใช้ได้เฉพาะสมาชิกเท่านั้น
                    เว็บไซต์จะไม่สามารถทำงานอย่างถูกต้องได้เลยหากไม่มีการเก็บรวบรวมคุกกี้เหล่านี้ บริษัทฯ
                    จึงไม่มีความจำเป็นต้องขอความยินยอมจากท่านในการจัดวางคุกกี้เหล่านี้ลงในอุปกรณ์ของท่าน
                    คุกกี้ประเภทนี้ไม่ได้มีการจัดเก็บข้อมูลซึ่งสามารถระบุตัวตนของท่านได้อย่างเฉพาะเจาะจงแต่อย่างใด</p>
                </div>
                <div class="ot-cat-item" data-optanongroupid="C0004">
                  <h4 class="ot-cat-header" id="ot-header-id-C0004">คุกกี้เพื่อกำหนดเป้าหมาย</h4>
              
                  <p class="ot-category-desc" id="ot-desc-id-C0004">คุกกี้ประเภทนี้ อาจถูกติดตั้งไว้โดยบริษัทฯ
                    หรือผู้ให้บริการซึ่งเป็นบุคคลที่สาม โดยคุกกี้ดังกล่าว จะทำการจัดเก็บข้อมูลการเข้าชมเว็บไซต์ของท่าน
                    เช่น ท่านเข้าชมเว็บไซต์ใดบ้าง และเข้าชมเว็บไซต์ผ่านทางลิงก์ใดบ้าง เป็นต้น โดยบริษัทฯ
                    ใช้ข้อมูลเหล่านี้เพื่อกำหนดให้เว็บไซต์ และโฆษณาที่ถูกจัดแสดงในเว็บไซต์ของบริษัทฯ
                    เว็บไซต์ในเครือข่ายพันธมิตรของผู้ให้บริการโฆษณา โซเชียลมีเดียตามช่องทางของบริษัทฯ
                    และโซเชียลมีเดียตามช่องทางของผู้ให้บริการโฆษณา มีความเกี่ยวข้องกับความสนใจของท่านมากขึ้น
                    โดยเราอาจเปิดเผยข้อมูลเหล่านี้ แก่บุคคลที่สาม เพื่อวัตถุประสงค์เหล่านี้ด้วย
                    หากท่านไม่อนุญาตให้ใช้คุกกี้ประเภทนี้ ท่านจะได้รับการโฆษณาที่เฉพาะเจาะจงน้อยลง</p>
                </div>
              </section>

                 <br /><br />
 <asp:CheckBox ID="chkAllow" runat="server" Text="ข้าพเจ้าได้อ่านและเข้าใจวัตถุประสงค์ทั่วไป และวัตถุประสงค์เกี่ยวกับข้อมูลส่วนบุคคลที่มีความอ่อนไหวข้างต้น รวมทั้งคำประกาศคุ้มครองข้อมูลส่วนบุคคลของท่าน (Privacy Notice) ตามเอกสารแนบอย่างชัดเจนแล้ว" />
                <br />
                <br />


            </div>
          
        <span class="ot-scrn-rdr" aria-atomic="true"
              aria-live="polite"></span><iframe class="ot-text-resize" title="onetrust-text-resize"
              style="position: absolute; top: -50000px; width: 100em;" aria-hidden="true"></iframe>
          </div>


          <div class="row">
            <div align="center">
              <asp:Button ID="btnAccept" runat="server" CssClass="btn btn-primary" Width="120" Text="ยอมรับ" />
              <br /> <br />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer text-center">
      <footer class="main-footer-login">
        <div class="text-center hidden-xs">
          <strong>Copyright &copy; 2021-2022 <a href="https://www.npc-se.co.th">NPC S&E</a>.</strong> All rights
          reserved.
          <br /> <b>Version</b>
          <asp:Label ID="Label1" runat="server" Text="1.0.0"></asp:Label>&nbsp;&nbsp;<b>Release</b> 2020.12.28
        </div>
      </footer>
    </div>
  </form>

  <!-- jQuery 3 -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
 
</body>

</html>