﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="ResultPage.aspx.vb" Inherits="Ergonomic.ResultPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
       <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-red"></h2>

        <div class="tab-success">           <p>                
            <div class="text-center"><h3 class="text-blue"><i class="fa fa-thumbs-up text-blue"></i> บันทึกข้อมูลสำเร็จ</h3>
                <br />
                <asp:HyperLink ID="hlkBack" class="btn btn-primary" runat="server"> <i class="fa fa-backward text-primary"></i>กลับหน้าหลัก</asp:HyperLink>
          
            </div>

            </p>
            <p>
                
           
               </p>

          
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>


</asp:Content>
