﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="rptTask.aspx.vb" Inherits="Ergonomic.rptTask" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>   
      <link href="../css/rajchasistyles.css" rel="stylesheet">
</head>
<body>
    <form id="form1" runat="server">

     <div align="center">  <strong><font size="4" >Total Task report </font>  </strong>
         <br />
     <asp:Label ID="lblCompanyName" runat="server"></asp:Label></div> 
     <strong>
         <br />
         Date</strong> 
         <asp:Label ID="lblStartDate"        runat="server"></asp:Label>          
         <strong>to</strong>
          <asp:Label ID="lblEndDate"        runat="server"></asp:Label>          
           <strong>Type :</strong>&nbsp; 
         
             <asp:Label ID="lblType" runat="server"></asp:Label>           
 <br />
         <br />
         <asp:GridView ID="grdData" runat="server" Width="100%" AutoGenerateColumns="False">
                          <headerstyle VerticalAlign="Middle" Horizontalalign="center" />
                          <Columns>
                              <asp:BoundField DataField="Taskno" HeaderText="Task No." />
                              <asp:BoundField DataField="TaskName" HeaderText="Task Name" >
                              <ItemStyle Width="300px" />
                              </asp:BoundField>
                              <asp:BoundField DataField="MachineName"  HeaderText="Machine name" />
                              <asp:BoundField DataField="SectionName"  HeaderText="Section" />
                              <asp:BoundField DataField="DepartmentName"  HeaderText="Department" />
                              <asp:BoundField DataField="AsmDate"  HeaderText="Date" />
                              <asp:BoundField DataField="AsmType"  HeaderText="Type" />
                              <asp:BoundField DataField="ToolName"  HeaderText="Tool" />
                          </Columns>                         
                          <RowStyle Horizontalalign="center" />
                      </asp:GridView>


                           <strong>Report by : </strong>&nbsp;<asp:Label ID="Label1" runat="server"></asp:Label>       
        
&nbsp;<div>
    <iframe src="https://onedrive.live.com/embed?cid=594143A5199B61AE&amp;resid=594143A5199B61AE%21631&amp;authkey=AOoq7RlCdaxLXIw&amp;em=2&amp;wdAr=1.7777777777777777&StartOn=5" width="962px" height="565px" frameborder="0">        
        </iframe>
          </div>
    </form>
</body>
</html>
