/* @import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,200;0,300;0,400;0,600;0,800;1,400;1,600&display=swap');*/

@font-face {
    font-family: 'Sarabun';
    src: url('../fonts/Sarabun.eot');
    src: url('../fonts/Sarabun.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sarabun.woff2') format('woff2'),
        url('../fonts/Sarabun.woff') format('woff'),
        url('../fonts/Sarabun.svg#Sarabun') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'Sarabun'; font-weight: normal; font-style: normal;
}
.Objcontrol{
font-size: 12px;
border:1px solid #ccc;
height: 28px;
color:#555;
text-align: center;
padding: 2px 2px 2px 2px;
 border--radius: 5px;
	  border--radius: 5px;
    -moz-border-radius: 5px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	
}